:root {
    --header-height: 41px;
}

body {
    background-color: #141414;
    
}

main {
    position: absolute;
    top: 0px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}

.featured {
    position: relative;
    top: -140px;
    border: 1px solid red;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.films {
    position: relative;
    top: -200px;
    /* border: 1px solid red; */
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

article > section > h2 {
    position: absolute;
    top: 95px;
    margin-left: 1.3rem;
    font-size: 1rem;
    color: var(--font-primary);
}

.main-player > video {
    width: 100%;
}

/* Netflix style carrousel
*
* Source: https://codemyui.com/netflix-style-card-hover-animation/
*/

.items {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 119px;
    left: 0px;
    /* text-align: center; */
    width: 1650px;
    border: 1px solid yellow;
    margin-left: 1.3rem;
    /* transform: 
        translateY(119px) */
}

.items li {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    list-style: none;
    width: 200px;
    height: 120px; 
    background-color: black;
    border-radius: 5px;
    transition-duration: .5s;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid green;
}

.items li .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    border-radius: 6px;
}

.items li .details {
    opacity: 0;
}

#film-1, #film-2, #film-3, #film-4, #film-5, #film-6, #film-7, #film-8 {
    background-image: url("/img/films/la-sombra-del-poder.webp");
}

.items li:hover, .items li:active {
    transition-delay: .1s;
    width: 250px;
    height: 150px;
    transform: translateY(-80%);
}

.items li:hover > .bg-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.items li:hover .details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.3rem 1rem;
    background-color: #2f2f2f;
    width: 100%;
    height: 150px;
    color: var(--font-primary);
    opacity: 1;
    transition-delay: .3s;
}

.items li a {
    color: var(--font-primary);
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

.other-details {
    display: flex;
    align-items: baseline;
}

.other-details .year {
    margin-right: 1rem;
    line-height: .8rem;
}

.items li .details .heart {
    fill: grey;
    position: relative;
    height: 1.2rem;
    width: 1.2rem;
}

.items li .details .heart:hover {
    fill: rgba(255, 255, 255, .6);
}

.items li .details .heart.filled {
    fill: pink;
}

.items li .details .heart.filled:hover {
    fill: pink;
    opacity: .7;
}





