:root {
    --header-height: 41px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;   
}

#content-wrap {
    padding-bottom: 400px;
}

.main-player > video {
    width: 100%;
}

section.featured {
    position: relative;
    top: -50px;
}

section > h1 {
    font-size: .8rem;
    margin-left: 10px;
}

.container {
    display: flex;
    gap: 5px;
    margin: 10px;
    width: 100%
}

.item img {
    width: 200px;
    height: auto;
    background-size: cover;
    background-position: center top;
    border-radius: 6px;
}

.item {
    position: relative;
    overflow: visible;
    max-height: 120px;
    transition: all .3s cubic-bezier(0.76,-0.03, 0.72, 1.05);
    transition-delay: .2s;
    cursor: pointer;
}

.item:hover {
    position: relative;
    z-index: 9999;
    transform:  translateY(-40%)
                scale(1.4);   
}

.item:nth-child(1):hover {
    transform:  translateY(-40%)
                scale(1.4)
                translateX(14%)
}

.item:hover .details {
    visibility: visible;
}

.other-details {
    display: flex;
    align-items: baseline;
    font-size: .7rem;
    margin-top: 2px;
    
}

.other-details .year {
    margin-right: .5rem;
    line-height: .8rem;
}

.other-details span {
    color: #2f2f2f;
    background-color: tomato;
    padding: 2px 3px;
    border-radius: 2px;
    margin-right: .5rem;
}