.cta-container form input {
    font-size: 1.2rem;
    width: 300px;
    padding: 1.4rem 2.2rem;
    border: unset;
    border-radius: 0px;
    text-align: center;
}

@media (min-width: 1150px) {
    .cta-form {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}