@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
    font-family: "Roboto";
}

body {
    
}

/* Gradient background */
body::after {
    
}

/* Logo of login page */
header > .header > img {
    width: 190px;
    position: absolute;
    top: 10%;
    left: 0;
    margin-left: 1rem;
}

.login-body > .login-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;    
}

h1.title {
    text-align: left;
    margin-bottom: 2rem;
}
/* https://codepen.io/fatmali/pen/aboNdra?editors=1100 */
div.input-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-underlined > input {
    border: none;
    border-radius: 5px;
    border-bottom: 0.12rem solid rgba(19, 19, 21, 0.6);
    background-color: #373737;
    width: 100%;
    height: 3.2rem;
    font-size: 1.05rem;
    padding-left: 1.3rem;
    line-height: 140%;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    color: var(--font-primary);
}

.input-underlined > input:focus {
    outline: none;
    background-color: #444444;
}

.input-underlined > .input-label {
    position: absolute;
    top: 1rem;
    left: 1.3rem;
    line-height: 1.2rem;
    color: #838383;
    transition: top 0.2s;
}

.input-underlined > .input-helper {
    opacity: 0;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    margin: 0.1rem 0.2rem;
}

.input-underlined > input:invalid ~ .input-helper {
    opacity: 1;
    display: block;
    color: #E87C03;
}

.input-underlined > input:invalid { 
    border-bottom: 0.15rem solid #E87C03;
}

.input-underlined > input:focus + .input-label,
.input-underlined > input:valid + .input-label {
    top: 0;
    font-size: 0.7rem;
    margin-bottom: 32px;
}

.input-underlined > input:focus + .input-label {
    color: #838383;
}

#signin-btn {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    border-style: none;
    font-size: 1rem;
    font-weight: 700;
}

.login-form-help {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
}

.login-form-help {
    font-size: .9rem;
}

.login-remember-me input#rememberMe {
    width: 1rem;
    height: 1rem;
    margin-right: .6rem; 
}

/* Custom checkbox
Source: https://www.appitventures.com/blog/styling-checkbox-css-tips */

.login-remember-me .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 22px;
    width: 22px;
    background-color: #737373;
    border-radius: 3px;
    /* border: 0; */
}

.login-remember-me .checkbox-custom::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
    height: 0px;
    width: 0px;
    border-radius: 3px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
}

.login-remember-me input:checked ~ .checkbox-custom {
    background-color: #737373;
    border-radius: 3px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
}

.login-remember-me input:checked ~ .checkbox-custom::after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid black;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}


#pass-recovery-link {
    color: var(--font-secondary);
}

#pass-recovery-link:hover {
    text-decoration: underline;
} 

/* Mobile media query */
@media (min-width: 740px) {
    header > .header > img {
        top: 15%;
    }

    body {
        width: 100%;
        height: 100vh;
        background: url("/img/background.jpg") no-repeat center center;
        background-size: cover;
        min-height: 100vh;
    }

    body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8) 100%
        );
        z-index: -1;
    }

    .login-body {
        display: flex;
        justify-content: center;
    }

    .login-body > .login-wrapper {
        background-color: rgba(0,0,0,.75);
        padding: 3rem;
        margin: 4rem 8rem;
        min-height: 500px;
        width: 480px;
    }

    .login-body > .login-wrapper > .login-desktop-wrapper {
        width: 340px;
        margin: auto;
    }

}
