.main-header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.main-header .navbar .nav-menu {
    position: fixed;
    width: 240px;
    border-top: 4px solid #E5E5E5;
    opacity: 0;
    top: 0;
    left: 0;
    height: 41px;
    display: none;
    list-style: none;
    padding: 0;
}

.main-header .navbar .nav-menu .logo {
    width: 70px;
}

.main-header .navbar > .logo {
    margin: .7rem .7rem 0 2%;
    width: 70px;
}

.navbar .menu-label {
    position: absolute;
    vertical-align: middle;
    width: 50px;
    height: 41px;
    line-height: 1.5rem;
    left: 90px;
    opacity: 1;
    top: 10px;
    left: 108px;
    color: var(--font-primary);
    font-size: .8rem;
}

.navbar .menu-label i {
    position: relative;
    top: -2px;
}

#menu-checkbox {
    display: none;
    position: absolute;  
}

.menu-label:hover ~ .nav-menu.open,
.nav-menu.open:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #131313;
    opacity: .9;
    height: 300px;
    width: 250px;
    margin-top: 50px;
}

.nav-tab a {
    color: var(--font-primary);
    padding: 20px;
    text-align: center;
    display: block;
}

.main-header .navbar .search {
    position: absolute;
    right: 0px;
    margin-right: 1rem;
    color: var(--font-primary);
    
}

.main-header .navbar .search form {
    display: none;
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 0;
    background-color: #141414;    
    border: 1px solid white;
}

.main-header .navbar .search .search-input {
    width: 0px;
    transition: all 1.25s ease;
    background-color: #141414;
    opacity: .8;
    border: none;
    outline: none;
    color: var(--font-primary);
    padding: .5rem .5rem .5rem 1.7rem;  
}

#search-checkbox {
    position: relative;
    top: 14px;
    z-index: 1;
    opacity: 0;
}

.main-header .navbar .search label {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 14px;
    cursor: pointer;
    font-size: .8rem;
}

#search-checkbox:checked ~ form {
    display: block; 
}

#search-checkbox:checked ~ form .search-input {
    width: 250px;
}

#search-checkbox:checked ~ #search-label {
    transform: translateX(-230px);
    transition-duration: .5s;
}

.navbar .nav-menu .active {
    cursor: default;
    font-weight: bold;
}

.nav-menu.open > .logo {
    display: none;
}

@media (max-width: 500px) {
    .navbar .menu-label {
        font-size: 50%;
    }
}

@media (min-width: 501px) and (max-width:768) {
    .navbar .menu-label {
        font-size: 80%;
    }

    .main-header .navbar .nav-menu .logo {
        width: 70px;
        margin: .7rem .7rem 0 2%;
    }
}

@media (min-width: 768px) {
    .main-header .navbar .nav-menu,
    .nav-menu.open:hover {
        width: 100%;
        opacity: 1;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        opacity: 1;
        height: 41px;
        width: 100%;
        line-height: 1.4rem;
        margin-top: 0;
        justify-content: start;
        border-top: 0;
        
    }

    .main-header .nav-menu {
        margin-left: calc(80px + 3%);
    }

    .main-header .navbar .nav-menu .logo {
        width: 70px;
        margin: .7rem .7rem 0 2%;
    }

    .main-header .nav-menu .nav-tab a {
        padding: 10px;
        font-size: .8rem;
    }

    .navbar .menu-label {
        display: none;
    }
}