/* .main-header .navbar {
    position: relative;
    border: 1px green solid;
    width: 230px;
    height: 320px;
    top: 0;
    left: 15px
} */

.main-header .navbar .nav-menu {
    position: fixed;
    width: 240px;
    border-top: 4px solid #E5E5E5;
    opacity: 0;
    top: 0;
    left: 0;
    height: 41px;
    display: none;
    list-style: none;
    padding: 0;
}

.main-header .nav-menu .nav-item {
    opacity: 1;
    position: absolute;
    top: -5px;
    left: 84px;
    font-weight: bold;
}

.main-header .nav-menu .nav-tab {
    /* margin-left: 5px; */
}

#menu-checkbox {
    display: none;
    position: absolute;
   
}

.menu-label:hover ~ .nav-menu.open,
.nav-menu.open:hover  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #131313;
    opacity: .9;
    height: 250px;
    width: 250px;
    margin-top: 50px;
}

.nav-item a, .nav-tab a {
    color: var(--font-primary);
    padding: 20px;
    text-align: center;
    display: block;
}

.nav-item a {
    font-size: .7rem;
}

.menu-label {
    position: absolute;
    vertical-align: middle;
    width: 60px;
    height: 50px;
    line-height: 2rem;
    left: 90px;
    top: 5px;
    opacity: 1;
    top: 6px;
    left: 108px;
    color: var(--font-primary);
    font-size: .8rem;
}

@media (min-width: 768) {
    
}