.main-header .navbar .nav-menu {
    position: fixed;
    width: 240px;
    border-top: 4px solid #E5E5E5;
    opacity: 0;
    top: 0;
    left: 0;
    height: 41px;
    display: none;
    list-style: none;
    padding: 0;
}

.navbar .menu-label {
    position: absolute;
    vertical-align: middle;
    width: 50px;
    height: 41px;
    line-height: 1.5rem;
    left: 90px;
    opacity: 1;
    top: 10px;
    left: 108px;
    color: var(--font-primary);
    font-size: .8rem;
}

.navbar .menu-label i {
    position: relative;
    top: -2px;
}

#menu-checkbox {
    display: none;
    position: absolute;  
}

.menu-label:hover ~ .nav-menu.open,
.nav-menu.open:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #131313;
    opacity: .9;
    height: 250px;
    width: 250px;
    margin-top: 50px;
}

.nav-tab a {
    color: var(--font-primary);
    padding: 20px;
    text-align: center;
    display: block;
}


@media (min-width: 768px) {
    .main-header .navbar .nav-menu,
    .nav-menu.open:hover {
        width: 100%;
        opacity: 1;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        opacity: 1;
        height: 41px;
        width: 100%;
        left: 100px;
        line-height: 1.4rem;
        margin-top: 0;
        justify-content: start;
        border-top: 0;
        
    }

    .main-header .nav-menu .nav-tab {
        
    }

    .main-header .nav-menu .nav-tab a {
        padding: 10px;
        font-size: .8rem;
    }

    .navbar .menu-label {
        display: none;
    }
    
    .nav-menu.open:hover {

    }
}