:root {
    --header-height: 41px;
}

body {
    background-color: #141414;
    position: relative;
    height: 1200px;
}

main {
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-player {
    position: relative;
}

.main-player > video {
    width: 100vw;
}

.trailer-details {
    position: absolute;
    top: 20%;
    height: 100%;
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.trailer-title {
    width: 90%;
}

.trailer-excerpt p {
    font-size: .5rem;
    color: var(--font-primary);
    text-shadow: 1px 1px 3px rgba(0,0,0, .3);
}

