.star-ratings {
    color: #c8c8c8;
    font-size: .8rem;
    height: .8rem;
    width: 4rem;
    position: relative;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding: 0;
}

.star-ratings-bottom-layer {
    display: block;
    z-index: 0;
}

.star-ratings-top-layer {
    color: #fbbc04;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    overflow: hidden;
}

.ratings {
    display: flex;
    align-items: baseline;
}

.ratings p {
    font-size: 0.6rem;
}

.ratings p span {
    font-weight: bold;
    font-size: .8rem;
}