:root {
    --primary-color: #df2200;
    --font-primary: #fff;
    --font-secondary: #b3b3b3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #000;
    color: #999;
}

h1 {
    font-size: 2rem;
    color: var(--font-primary);
}

a {
    color: var(--font-primary);
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

/* Buttons */
.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.btn:active {
    opacity: 1;
    transform: translateY(0);
}

.btn-rounded {
    border-radius: 8px;
}

.btn-xl {
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
}